body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    background-color: #ffffff;
    color: #8C9398;
    text-align: center;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5 {
    text-transform: uppercase;
}

.visually_hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    -webkit-box-shadow: 0 1px 10px 1px #ededed;
    box-shadow: 0 1px 10px 1px #ededed;
}

.main-block {
    background: url("../img/main.png") no-repeat;
    min-height: 800px;
}

.main-halcyon {
    margin: 0 auto;
    max-width: 100%;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-halcyon__title {
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #000000;
}

.main-halcyon__title-opacity {
    opacity: 0.4;
}

.main-halcyon__paragraph {
    max-width: 615px;
    font-size: 15px;
    margin: 0 0 70px 0;
    letter-spacing: 2px;
    color: #8C9398;
}

.main-halcyon__paragraph-bold {
    font-weight: bold;
    font-style: italic;
}

.main-halcyon__btn {
    border: 0;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    width: 210px;
    background-color: #3dc9b3;
    height: 65px;
    color: #ffffff;
    border-radius: 10px;
    border-bottom: 3px solid #309383;
    cursor: pointer;
}

.menu {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, .3);
    /*position: fixed;*/
    z-index: 1;
    max-width: 1600px;
}

.menu__container {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, rgba(20, 25, 30, 0.9) 10%, rgba(35, 40, 45, .8) 40%, rgba(27, 27, 27, 0.1) 100%);
    z-index: 1;
}

.navigation {
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.navigation__list {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navigation__item {
    max-width: 100%;
    padding: 15px 5px 15px 5px;
}

.navigation__link {
    color: #131313;
    letter-spacing: 5px;
    font-size: 35px;
}

.navigation__link:hover {
    text-shadow: #c8c6c8 0 1px 1px;
}

.navigation__btn {
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 100px;
    right: 10%;
    max-width: 30px;
    z-index: 2;
    background: url(../svg/menu.svg);
}

.close-btn {
    background: url(../svg/close.svg);
}

.overflow-hidden {
    overflow: hidden;
}

.information-block-1 {
    padding-top: 100px;
    padding-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f3f5f8;
}

.information-block-1__title,
.information-block-2__title {
    margin: 0 0 30px 0;
    color: #000000;
    max-width: 750px;
    position: relative;
}

.advantages-list__title {
    color: #000000;
    margin: 0;
}

.advantages-list__paragraph {
    margin: 0;
}

.title-dotes::before {
    content: "";
    margin: 0 auto;
    position: relative;
    right: 130px;
    top: 50px;
    display: block;
    max-width: 155px;
    height: 5px;
    background-image: radial-gradient(#bbb 25%, transparent 25%);
    background-size: 6px 6px;
    background-repeat-y: no-repeat;
}

.title-dotes::after {
    content: "";
    margin: 0 auto;
    position: relative;
    left: 130px;
    top: 27px;
    display: block;
    max-width: 155px;
    height: 5px;
    background-image: radial-gradient(#bbb 25%, transparent 25%);
    background-size: 6px 6px;
    background-repeat-y: no-repeat;
}

.information-block-1__paragraph {
    max-width: 750px;
    margin: 65px 0 0 0;
}

.information-block-1__paragraph-bold {
    font-weight: bold;
    color: #000000;
}

.information-block-2 {
    width: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.information-block-2__list {
    position: relative;
    right: 21px;
}

.seller-block-2__paragraph {
    min-height: 100px;
}

.advantages-list {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style: none;
}

.advantages-list__item {
    max-width: 360px;
    margin: 85px 0 0 0;
}

.advantages-list__item:nth-child(2) {
    margin-right: 50px;
    margin-left: 50px;
}

.information-block-3 {
    overflow: hidden;
    max-height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;

}

.iphone-img {
    max-width: 50%;
}

.carousel-block {
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    max-width: 50%;
    max-height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    padding: 0 15px 0 15px;
}

.seller-block-2__figure {
    background: url(../svg/loupe.svg) #1abc9c no-repeat center;
    padding: 0;
    margin: 0 auto;
    width: 360px;
    height: 200px;
}

.seller-block-2__img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.seller-block-2__figure:hover .seller-block-2__img {
    color: white;
    opacity: .5;
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.seller-block-2__figure:hover + .seller-block-2__more-link {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.seller-block-2__more-link {
    text-transform: uppercase;
    position: absolute;
    margin: -55px 0 0 -40px;
    color: #ffffff;
    font-weight: bold;
    letter-spacing: 3px;
    opacity: 0;
}

.seller-block-2__title {
    margin-bottom: 30px;
    padding: 0;
    color: #000000;
}

.carousel-block__paragraph {
    max-width: 457px;
    margin-bottom: 30px;
    text-align: left;
}

.seller-block-1 {
    max-height: 300px;
    background-image: url("../img/flouer.jpg");
}

.seller-block-1__title {
    padding: 80px 0 30px 0;
    font-size: 40px;
    color: #ffffff;
    letter-spacing: 5px;
    margin: 0;
}

.seller-block-1__paragraph {
    margin: 0;
    padding: 0 0 45px 0;
    color: #ffffff;
    letter-spacing: 3px;
}

.seller-block-1__btn {
    background: url(../img/more-btn.png) no-repeat;
    height: 45px;
    width: 45px;
    border: none;
    margin: 0 0 55px 0;
}

.seller-block-1__paragraph-select {
    font-style: italic;
    font-weight: bold;
}

.seller-block-2 {
    margin: 105px 0 0 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.seller-block-2__list {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    max-width: 1170px;
    margin: 0;
    max-height: 700px;
}

.carousel-item__title {
    margin: 40px 0 0 0;
    color: #000000;
    text-decoration: none;
}

.carousel-item__paragraph {
    line-height: 20px;
    padding: 0 5px 0 5px;
    margin: 0;
}

.seller-block-3 {
    padding: 100px;
    max-height: 300px;
    background-color: #242830;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.seller-block-3__btn {
    height: 75px;
    width: 295px;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: #242830;
    letter-spacing: 3px;
}

.team {
    max-height: 880px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 200px 0 200px 0;
}

.team-block {
    margin: -188px 0 0 0;
}

.team-block__title {
    margin: 75px 0 25px 0;
}

.team-block__list {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1170px;
    margin: 65px 0 0 0;
}

.team-block__item {
    max-width: 375px;
    padding: 0 15px 0 15px;
}

.network {
    display: flex;
    justify-content: center;
}

.network__network-list {
    margin: 15px 0 0 0;
    padding: 0;
    display: flex;
    list-style: none;
    width: 120px;
    justify-content: space-between;
}

.network-icon {
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background-color: #242830;
}

.network-icon:hover {
    background-color: #3dc9b3;
    transition: all 0.7s;
    transform: rotate(360deg);
}

.network-icon--browser {
    background: url("../img/browser.png") #242830 no-repeat center;
}

.network-icon--twitter {
    background: url("../img/twitter.png") #242830 no-repeat center;
}

.network-icon--email {
    background: url("../img/mail.png") #242830 no-repeat center;
}

.team-block__avatar {
    margin: 0;
}

.team-block__name {
    margin: 55px 0 0 0;
}

.team-block__about {
    margin: 0;
}

.title-line {
    padding: 15px 0 0 0;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.title-line::after {
    content: "";
    border-bottom: 3px solid #3dc9b3;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 33px;
}

.subscribe {
    max-height: 450px;
    background-image: url("../img/Layer 226.jpg");
}

.subscribe__title {
    padding: 170px 0 45px 0;
    font-size: 15px;
    color: #ffffff;
    letter-spacing: 3px;
}

.subscribe__submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.subscribe__input {
    background: transparent;
    height: 53px;
    max-width: 340px;
    min-width: 320px;
    border: 1px solid #ffffff;
    margin-right: 6px;
    padding: 5px 5px 5px 5px;
    color: #ffffff;
    font-size: 15px;
}

.subscribe__btn {
    width: 100px;
    height: 65px;
    border: none;
    color: #ffffff;
    background-color: #3dc9b3;
}

.subscribe__title {
    top: 120px;
    margin: 0 auto;
    background: url("../img/aeroplane-white.png") no-repeat center;
}

.subscribe-more-btn {
    background: url("../img/more_btn2.png") no-repeat center;
    margin-top: 130px;
    /*position: absolute;*/
    /*margin-bottom:0;*/
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0;
}

.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: max-content;
    background-color: #f3f5f8;
}

.contacts__title {
    color: #000000;
    margin: 127px 0 25px 0;
    letter-spacing: 3px;
}

.contacts-block {
    margin: 90px 0 0 0;
    min-width: 80%;
    padding: 0 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}

.contacts-block__list {
    flex-grow: 1;
    margin: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1170px;
    height: max-content;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.contacts-block__item {
    overflow: hidden;
    padding: 0;
    margin: 5px 5px 5px 5px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*width: 100%;*/
    flex-grow: 1;
    height: 150px;
    background-color: #ffffff;
}

.contacts-block__connect {
    color: #3dc9b3;
    font-weight: bold;
}

.contacts-block__icon {
    height: 30px;
    width: 30px;
    position: absolute;
    margin: 30px 0 0 0;
}

.icon-address {
    background: url("../img/location.png") no-repeat center;
}

.icon-mail {
    background: url("../img/aeroplane.png") no-repeat center;
}

.icon-phone {
    background: url("../img/phone.png") no-repeat center;
}

.contacts-block__connect {
    position: absolute;
    margin: 68px 0 0 0;

}

.contacts-block__connect-dop {
    max-width: 210px;
    color: #8C9398;
    font-style: normal;
    position: absolute;
    margin: 110px 0 0 0;
}

.contacts-block__address,
.contacts-block__email {
    font-style: normal;
}

.footer-network {
    height: 40px;
    margin: 100px 0 100px 0;
}

.footer-network-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 165px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer {
    max-height: 120px;
    background-color: #242830;
}

.footer__links {
    padding: 0 0 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 295px;
}

.footer__link {
    color: #a1a9b0;
    margin: 55px 0 45px 0;
}

.title-arrow {
    background: url(../img/arrow.png) no-repeat center 45px;
    min-height: 60px;
}

@media (max-width: 1120px) {
    .seller-block-2__img,
    .seller-block-2__figure {
        max-width: 315px;
        max-height: 175px;
    }
}

@media (max-width: 1024px) {
    .seller-block-2__list {
        flex-direction: column;
        align-items: center;
        flex-wrap: inherit;
    }

    .seller-block-2 {
        min-height: 1300px;
        margin-bottom: 85px;
    }

    .seller-block-2__carousel-item {
        max-width: 80%;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {

    .title-dotes::after,
    .title-dotes::before {
        display: none;
    }

    .information-block-1__title,
    .information-block-2__title,
    .team-block__title,
    .contacts__title,
    .contacts-block__connect {
        font-size: 25px;
    }

    .information-block-2__list,
    .team-block__list,
    .contacts-block__list {
        flex-direction: column;
        align-items: center;
        flex-wrap: inherit;
    }

    .advantages-list__item {
        width: 50%;
        max-width: 500px;
    }

    .advantages-list__title,
    .seller-block-2__title,
    .team-block__title,
    .team-block__name {
        font-size: 25px;
    }

    .information-block-1__paragraph,
    .advantages-list__paragraph,
    .seller-block-2__paragraph,
    .team-block__about,
    .seller-block-2__paragraph,
    .team-block__about,
    .contacts-block__connect-dop {
        font-size: 22px;
    }

    .advantages-list__img {
        height: 220px;
        width: 220px;
        margin: 0 0 15px 0;
    }



    .team {
        max-height: 2000px;
    }

    .team-block__avatar {
        max-width: 265px;
    }

    .team-block__list {
        margin-top: 35px;
    }

    .team-block__name {
        margin-top: 25px;
    }

    .team-block__item:not(:last-child) {
        margin-bottom: 35px;
    }

    .contacts-block__item {
        width: 100%;
        flex-grow: 1;
        height: 170px;
    }

    .contacts-block__connect-dop {
        min-width: 300px;
    }

    .network__network-list {
        min-width: 200px;
    }

    .network-icon {
        height: 55px;
        width: 55px;
    }
}

@media (max-width: 555px) {
    .seller-block-2__figure,
    .seller-block-2__img {
        width: 240px;
        height: 170px;
    }

    .title-dotes {
        display: none;
    }

    .iphone-img {
        display: none;
    }
    
    .information-block-3 {

        background-image: url("../img/iphone.jpg");
        background-position: right;
    }

    .carousel-block {
        background-color: rgba(36, 40, 48, 0.5);
        color: #ffffff;
        text-shadow: #000000 ;
        max-width: 70%;
    }

    .seller-block-2 {
        min-height: 1400px;
        margin-bottom: 85px;
    }


}

@media (max-width: 395px) {
    .advantages-list__img {
        max-width: 150px;
        max-height: 150px;
    }

    .subscribe__input {
        max-width: 200px;
        min-width: 180px;
    }

    .seller-block-2 {
        min-height: 1500px;
        margin-bottom: 85px;
    }

    .menu__container {
        width: 100%;
        background: linear-gradient(45deg, rgba(197, 207, 242, 1) 10%, rgba(143, 165, 181, 1) 40%, rgba(54, 70, 74, 1) 100%);
    }
}